<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="test.apker.android.ss.com.apkertest">

    <application
        android:name=".TestAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".TestActivity1" />

        <activity
            android:name="com.letv.zxing.ex.CaptureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.letv.zxing.ex.CaptureActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.letv.sport.game.sdk.TestService" />
    </application>

</manifest>
